* text=auto !eol
/README_EN.python_xonsh.known_issues.txt -text
/README_EN.txt -text
_pyxvcs/01_configure.vars.bat -text
_pyxvcs/02_configure.private.bat -text
_pyxvcs/03_configure.yaml.bat -text
_pyxvcs/04_configure.bat -text
_pyxvcs/__init__.bat -text
_pyxvcs/__init__.sh -text
_pyxvcs/__init__.xsh -text
_pyxvcs/_common/__init__.bat -text
_pyxvcs/_common/__init__.sh -text
_pyxvcs/_common/__init__.xsh -text
_pyxvcs/_common/cmdop.py.bat -text
_pyxvcs/_common/cmdop.xsh -text
_pyxvcs/_common/configure.py.bat -text
_pyxvcs/_common/configure.xsh -text
_pyxvcs/_common/tools/__init__.bat -text
_pyxvcs/_common/tools/__init__.sh -text
_pyxvcs/_common/tools/bash_entry -text
_pyxvcs/_common/tools/cmd_admin.lnk -text
_pyxvcs/_common/tools/get_datetime.bat -text
_pyxvcs/_common/tools/load_config.bat -text
_pyxvcs/_common/tools/load_config.sh -text
_pyxvcs/_common/tools/wtee.exe -text
_pyxvcs/_config/config.env.yaml.in -text
_pyxvcs/_config/config.private.yaml.in -text
_pyxvcs/_config/config.vars.in -text
_pyxvcs/_config/config.yaml.in -text
_pyxvcs/_config/tmpl/__init__.bat.in -text
_pyxvcs/_config/tmpl/__init__.sh.in -text
_pyxvcs/_config/tmpl/{HUB}~git~compare_commits.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~fetch.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~init.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~makedirs.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~pull.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~push_svn_to_git.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~git~reset.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~svn~checkout.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~svn~makedirs.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~svn~relocate.bat.in -text
_pyxvcs/_config/tmpl/{HUB}~svn~update.bat.in -text
_pyxvcs/install_python_modules.bat -text
_pyxvcs/project_group/config.yaml.in -text
_pyxvcs/project_group/project/config.yaml.in -text
_pyxvcs/project_group/project/git_repos.lst.in -text
/changelog.txt -text
/license.txt -text
