* text=auto !eol
/README_EN.python_xonsh.known_issues.txt -text
/README_EN.txt -text
_pyxvcs/__init__.bat -text
_pyxvcs/_common/__init__.bat -text
_pyxvcs/_common/__init__.xsh -text
_pyxvcs/_common/cmdop.py.bat -text
_pyxvcs/_common/cmdop.xsh -text
_pyxvcs/_common/configure.py.bat -text
_pyxvcs/_common/configure.xsh -text
_pyxvcs/_common/tools/load_config.bat -text
_pyxvcs/_common/tools/wtee.exe -text
_pyxvcs/bb~git~compare_commits.bat -text
_pyxvcs/bb~git~fetch.bat -text
_pyxvcs/bb~git~init.bat -text
_pyxvcs/bb~git~pull.bat -text
_pyxvcs/bb~git~push_svn_to_git.bat -text
_pyxvcs/bb~git~reset.bat -text
_pyxvcs/config.env.yaml.in -text
_pyxvcs/config.private.yaml.in -text
_pyxvcs/config.vars.in -text
_pyxvcs/config.yaml.in -text
_pyxvcs/configure.bat -text
_pyxvcs/configure.private.bat -text
_pyxvcs/gh~git~compare_commits.bat -text
_pyxvcs/gh~git~fetch.bat -text
_pyxvcs/gh~git~init.bat -text
_pyxvcs/gh~git~pull.bat -text
_pyxvcs/gh~git~push_svn_to_git.bat -text
_pyxvcs/gh~git~reset.bat -text
_pyxvcs/gl~git~compare_commits.bat -text
_pyxvcs/gl~git~fetch.bat -text
_pyxvcs/gl~git~init.bat -text
_pyxvcs/gl~git~pull.bat -text
_pyxvcs/gl~git~push_svn_to_git.bat -text
_pyxvcs/gl~git~reset.bat -text
_pyxvcs/install_python_modules.bat -text
_pyxvcs/project_group/__init__.bat -text
_pyxvcs/project_group/config.vars.in -text
_pyxvcs/project_group/config.yaml.in -text
_pyxvcs/project_group/configure.bat -text
_pyxvcs/project_group/project/__init__.bat -text
_pyxvcs/project_group/project/bb~git~compare_commits.bat -text
_pyxvcs/project_group/project/bb~git~fetch.bat -text
_pyxvcs/project_group/project/bb~git~init.bat -text
_pyxvcs/project_group/project/bb~git~pull.bat -text
_pyxvcs/project_group/project/bb~git~push_svn_to_git.bat -text
_pyxvcs/project_group/project/bb~git~reset.bat -text
_pyxvcs/project_group/project/config.vars.in -text
_pyxvcs/project_group/project/config.yaml.in -text
_pyxvcs/project_group/project/configure.bat -text
_pyxvcs/project_group/project/gh~git~compare_commits.bat -text
_pyxvcs/project_group/project/gh~git~fetch.bat -text
_pyxvcs/project_group/project/gh~git~init.bat -text
_pyxvcs/project_group/project/gh~git~pull.bat -text
_pyxvcs/project_group/project/gh~git~push_svn_to_git.bat -text
_pyxvcs/project_group/project/gh~git~reset.bat -text
_pyxvcs/project_group/project/git_repos.lst.in -text
_pyxvcs/project_group/project/gl~git~fetch.bat -text
_pyxvcs/project_group/project/gl~git~init.bat -text
_pyxvcs/project_group/project/gl~git~pull.bat -text
_pyxvcs/project_group/project/gl~git~push_svn_to_git.bat -text
_pyxvcs/project_group/project/gl~git~reset.bat -text
_pyxvcs/project_group/project/sf~svn~checkout.bat -text
_pyxvcs/project_group/project/sf~svn~relocate.bat -text
_pyxvcs/project_group/project/sf~svn~update.bat -text
_pyxvcs/sf~svn~checkout.bat -text
_pyxvcs/sf~svn~relocate.bat -text
_pyxvcs/sf~svn~update.bat -text
/changelog.txt -text
